<!DOCTYPE html>
<header>
  <%= link_to("RailsBoard", "/") %>
  <%= link_to("RailsBoardとは", "/about") %>
  <!-- いずれは、「スレッド一覧」にしたい -->
  <%= link_to("投稿一覧", "/posts/index") %>
</ul>
</header>

<html>
  <head>
    <title>RailsBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
